---
layout: regular
title: Who's Who
permalink: /whoiswho/
simpleBanner: true
bannerText: Who We Are
---

{% include person.html
  avatar="/assets/images/ric.jpg"
  name="Rector: Reverend Dr. Richard Patrick Whaite"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
  telephoneNumber="01244 671202"
%}

{% include person.html
  avatar="/assets/images/laura.jpg"
  name="Assistant Priest: Reverend Laura Rhodes"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Hon Assistant Clergy: Reverend Maureen Pickering"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Hon Assistant Clergy: Reverend John Carhart"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Hon Assistant Clergy: Bill Hamilton"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Reader Emeritus: Miss Linda Manning"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Church Warden: Mrs. Helen Brophy"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  name="Church Warden: Mr. Ted Graham"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
%}

{% include person.html
  avatar="/assets/images/doris.jpg"
  name="Parish Administrator: Mrs. Doris Keen"
  blurb="
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed eu congue nibh, pharetra ultrices ante.
    Phasellus bibendum, nibh id dictum eleifend, lacus libero tristique
    libero, vel porttitor turpis mauris
    nec mauris. Proin dignissim diam eget tempor eleifend."
  telephoneNumber="01244 671202"
  email="office.stmaryschester@btconnect.com"
%}
