
<div class="banner {% if page.simpleBanner %}simple{% endif %}">
  <div class="content">
    <h1>{{ page.bannerText }}</h1>
    {% if page.showBannerSocialLinks %}
      <div class="socialLinks">
        <a href="https://www.facebook.com/St-Mary-Without-the-Walls-Chester-392886070859983/"
          target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/channel/UCHvzYJ1wjdH8XXy_gtovCBQ" target="_blank" class="fa fa-youtube"></a>
      </div>
    {% endif %}
  </div>
</div>
