
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

a:hover {
  opacity: 0.7;
}

nav {
  padding: 30px 50px;
  display: flex;
  font-size: 25px;
}

nav .siteLinks {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: 'Sorts Mill Goudy', serif;
}

nav .siteLinks a {
  margin-left: 30px;
}

nav a.active {
  text-decoration: underline;
}

.banner {
  font-family: 'Sorts Mill Goudy', serif;
  /* background-image: url('/assets/images/front-of-church-drawing.png'); */
  background-size: cover;
  background-repeat: none;
  background-color: rgb(224, 224, 224);
}

.banner .content {
  padding: 40px;
  padding-top: 220px;
}

.banner.simple {
  display: flex;
  justify-content: center;
  background-color: #4d6467;
}

.banner.simple .content {
  padding-top: 40px;
}

.banner h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px;
  /* background-color: #00000022; */
  color: white;
}

.banner .fa {
  color: rgb(224, 224, 224);
  background-color: white;
  margin-right: 10px;
}

.content {

}

.social {
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.social .fa {
  background-color: transparent;
  color: white;
  font-size: 30px;
  width: 30px;
  margin-left: 20px;
}

.siteMap {
  background-color: #212121;
  color: white;
  padding: 25px;
}

.mainContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  width: 800px;
  padding: 50px 0;
}

.mainContent h2 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 32px;
}

.mainContent p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.mainContent a {
  color: #8ba6a6
}

.siteMap .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer a {
  color: #8ba6a6;
}

.policyLinksWrapper {
  display: flex;
  justify-content: center;
}

.policyLinks {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #4d6467;
  width: 800px;
}

.policyLinks a {
  font-size: 25px;
  font-family: 'Sorts Mill Goudy', serif;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  margin-top: 30px;
}

.policyLinks a:not(:last-child) {
  margin-right: 50px;
}

.policyLinks a.active {
  color: white;
  background-color: #4d6467;
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
}

.serviceTimes {
  background-color: #4d6467;
  color: white;
  display: flex;
  justify-content: center;
}

.serviceTimes h4 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;
}

.serviceTimes p {
  margin: 10px 0;
}

.serviceTime {
    margin: 10px 30px;

}

.highlights {
  background-color: #212121;
}
