html {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
}

a:hover {
  opacity: 0.7;
}

nav {
  padding: 30px 50px;
  display: flex;
  font-size: 20px;
}

nav .siteLinks {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: 'Sorts Mill Goudy', serif;
}

nav .siteLinks a {
  margin-left: 30px;
}

nav a.active {
  text-decoration: underline;
}

.banner {
  font-family: 'Sorts Mill Goudy', serif;
  background-image: url('/assets/images/light-cropped.jpg');
  background-size: cover;
  background-repeat: none;
  background-color: rgb(224, 224, 224);
}

.banner .content {
  padding: 40px;
  padding-top: 220px;
}

.banner.simple {
  display: flex;
  justify-content: center;
  background-image: none;
  background-color: #4d6467;
}

.banner.simple .content {
  padding-top: 40px;
}

.banner h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px;
  /* background-color: #00000022; */
  color: white;
  max-width: 500px;
}

.banner .fa {
  color: #4d6467;
  background-color: white;
  margin-right: 10px;
}

.social {
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.social .fa {
  background-color: transparent;
  color: white;
  font-size: 30px;
  width: 30px;
  margin-left: 20px;
}

.siteMap {
  background-color: #212121;
  color: white;
  padding: 25px;
}

.mainContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  max-width: 800px;
  padding: 50px 0;
}

.mainContent h2 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 32px;
}

.mainContent p {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.mainContent a {
  color: #8ba6a6
}

.siteMap .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer a {
  color: #8ba6a6;
}

.tabsWrapper {
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #4d6467;
  width: 100%;
}

.tabs a {
  font-size: 20px;
  font-family: 'Sorts Mill Goudy', serif;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  background-color: #f5f5f5;
  color: black;
}

.tabs a:not(:last-child) {
  margin-right: 30px;
}

.tabs a.active {
  color: white;
  background-color: #4d6467;
}

.person {
  display: flex;
}

.person:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid #4d6467;
  margin-bottom: 30px;
}

.person .details {
  margin-left: 30px;
}

.person .details h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px
}

.person span.type {
  font-weight: bold;
}

.person .contact {
  margin-top: 0;
  margin-bottom: 8px;
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
}

.serviceTimes {
  background-color: #4d6467;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.serviceTimes h4 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.serviceTimes p {
  margin: 10px 0;
}

.serviceTime {
    margin: 10px 50px;
}

.highlights {
  background-color: #212121;
}

.contactContent {
  display: flex;
}

.contactContent .contactInfo {
  width: 370px;
  padding-right: 30px;
}

.contactContent .socialIcons {
  margin: 30px 0;
}

.contactSection h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px
}

.contactSection {
  margin-bottom: 40px;
}

.contactSection .address {
  margin-left: 30px;
  margin-top: 30px;
}

.contactSection .addressLine {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
}

.contactContent a.fa {
  font-size: 30px;
  width: 30px;
  padding: 0;
  color: black;
  margin-right: 30px;
  background-color: transparent;
  border-radius: 0;
}

.contactContent .mapWrapper {
  filter: grayscale(100%)
}
